{% extends "message.html" %}
    {% block article %}
<h1>Create New Post</h1>
<form action="/new_post" method="POST" name="new_post">
    {{ new_post.hidden_tag() }}
    <p>
        {{ new_post.content(size=40) }}<br>
    </p>
</form>
    {% endblock %}
