{% extends "base.html" %}
    {% block content %}
        <main><article class='post form'>
            <h1>Sign Up</h1>
            <form action="/signup" method="POST" name="signup">
                {{ signup.hidden_tag() }}
                <p>
                    <span class='username-prepend'>@</span>
                    Enter your username:<br>
                    {{ signup.username(size=40) }}<br>
                    Enter your email:<br>
                    {{ signup.email(size=40) }}<br>
                    Enter your password:<br>
                    {{ signup.password(size=40) }}<br>
                    Confirm password:<br>
                    {{ signup.confirm(size=40) }}<br>
                    What's the password???:<br>
                    {{ signup.secret_password(size=40) }}<br>
                </p>
                <p><input type="submit" value="Sign Up"></p>
            </form>
        </article></main>
    {% endblock %}
